{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
window.recaptcha_public_key = window.recaptcha_public_key || "{{ recaptcha_key }}";
</script>
<script type="text/javascript" src="{{ url_for('.static', filename='index.js') }}"></script>
{% endblock %}

{% block title %}chr{% endblock %}

{% block content %}
<h1 id="chr-header">chr.so</h1>

<noscript>
	<span>Sorry! chr requires JavaScript :(</span>
</noscript>

{# Form related data: 
	- url: the URL we want to shorten (text)
	- custom: the custom (if any) URL to use. (text)
	- burn: should be set the URL to burn after use? (checkbox, default: false)
	- statistics: shall we enable statistics? (checkbox, default: true)

	- reCAPTCHA? CSRF? Who knows.
#}

<form method="POST" id="shrink-url" action="{{ url_for('submit') }}">
<input name="url" type="text" id="url-to-shrink" class="enable-me pretty" placeholder="http://" disabled="disabled"/>
<button id="customize" class="button pretty tooltips" title="Customize URL">&#9881;</button>
<input name="shrink" type="button" id="click-to-shrink" class="button enable-me pretty" disabled="disabled" value="Shrink!">

<div id="customize-extras">
	<input name="custom" type="text" id="chr-text-short" class="enable-me chr-text-short pretty" maxlength="32" placeholder="Custom URL" disabled="disabled" value=""/>
	<div id="customize-boxes">
		<label class="tooltips" title="This allows only <b>one</b> visit.">
			<input type="checkbox" name="burn" class="enable-me" value="true" disabled="disabled"/>
			Burn after reading
		</label>
		<label class="tooltips" title="Do you want URL statistics?<br>Things like OS, browser, etc.">
			<input type="checkbox" name="statistics" class="enable-me" value="true" disabled="disabled" checked="checked"/>
			Enable statistics
		</label>
	</div>
</div>

{# <span class="tooltips" title="Testing, testing, 1, 2, 3">Hey</span> #}

<div id="form-modal" style="display: none;">
	<p>
		Sorry, but we require this captcha to prevent spam.<br />
		If you know a better way, send in a pull, <a href="https://github.com/plausibility/chr">@plausibility/chr</a>
	</p>
	<div id="recaptcha-goes-here"></div>
</div>
</form>

<div id="chr-results-group">
</div>
{% endblock %}