{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
window.recaptcha_public_key = window.recaptcha_public_key || "{{ recaptcha_key }}";
</script>
<script type="text/javascript" src="{{ url_for('.static', filename='index.js') }}"></script>
{% endblock %}

{% block title %}chr{% endblock %}

{% block content %}
<h1 id="chr-header">chr.so</h1>

<noscript>
	<span>Sorry! chr requires JavaScript :(</span>
</noscript>

<form method="POST" id="shrink-url" action="{{ url_for('submit') }}">
<input name="url" type="text" id="url-to-shrink" class="enable-me pretty" placeholder="http://" disabled="disabled"/>
<!--
<input type="button" id="modify-hack" class="button pretty" value="Customize"/>
-->

<input name="shrink" type="button" id="click-to-shrink" class="button enable-me pretty" disabled="disabled" value="Shrink!">

<input name="custom_url" type="text" id="chr-text-short" class="enable-me chr-text-short" maxlength="32" placeholder="custom url" disabled="disabled"/>
<div class="chr-check-delete">
	<label>
		<input name="give_delete" type="checkbox" id="chr-check-delete" class="enable-me chr-check-delete" value="true" disabled="disabled"/>
		Deletable?
	</label>
</div>

<span class="uh-tipsy" title="Testing, testing, 1, 2, 3">Hey</span>

<div id="form-modal" style="display: none;">
	<p>
		Sorry, but we require this captcha to prevent spam.<br />
		If you know a better way, send in a pull, <a href="https://github.com/plausibility/chr">@plausibility/chr</a>
	</p>
	<div id="recaptcha-goes-here"></div>
</div>
</form>

<div id="chr-results-group">
</div>
{% endblock %}